<section class="login">
    <div class="wrapper">
        <div class="section-left">
            <img src="/assets/images/Buap.png" class="logo-buap">
            <img src="/assets/images/FCCBuap.png" class="logo-fcc">
        </div>
        <div class="section-right">
            <div class="card">
                <div class="card-body">
                    <h3 class="title">Inicio de Sesión</h3>
                    <div class="container-inputs">
                        <div class="pt-3 mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Correo electrónico">
                        </div>
                        <div class="pt-3 mb-3">
                            <input type="text" class="form-control" id="password" placeholder="Contraseña">
                        </div>

                        <div class="mb-3">
                            <label class="form-check-label" for="checkbox-signin">Olvidé mi contraseña</label>
                        </div>

                        <div class="mb-3 mb-0">
                            <button class="btn btn-primary" type="submit">Iniciar sesión</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>